In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('score.xlsx', index_col='지원번호')

In [21]:
# 학교 구로고 -> 가산고, 디지털고 -> 단지고 로 변경하세요.
# 4번 SW특기 -> Django
# 5번 SW특기 -> python
# SW특기 소문자로 변경하세요.
# 합계컬럼을 추가하세요.
# 결과컬럽을 추가해서 270점 이상은 Pass, Fail
pd.set_option('mode.chained_assignment',  None)
filt = df['학교'] == '구로고'
df.loc[filt, '학교'] = '가산고'
df.loc['4번', 'SW특기'] = 'Django'
df.loc['5번', 'SW특기'] = 'python'
df['SW특기'] = df['SW특기'].str.lower()
df

       이름   학교    키   국어   영어   수학  사회        SW특기
지원번호
1번    강나래  가산고  197   90   85  100  85      python
2번    강태원  가산고  184   40   35   50  25        java
3번    강호림  가산고  168   80   75   70  75  javascript
4번    김수찬  가산고  187   40   60   70  80      django
5번    김재욱  가산고  188   15   20   10  10      python
6번    박동현  가산고  202   80  100   95  80           c
7번    박혜정  가산고  188   55   65   45  35      python
8번    승근열  가산고  190  100   85   90  95          c#